html {
  font-size: 62.5%;
}

body {
  color: #ffffff;
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
  background: linear-gradient(45deg, #191919, #2D4263, #371B58, #382039);
  background-size: 500% 500%;
  animation: colors 15s ease infinite;
}

@keyframes colors {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.container-principal {
  display: flex;
  height: 100vh;
}

.container {
  width: 50%;
}

.centralizar {
  display: flex;
  align-items: center;
  justify-content: center;
}

.principal {
  padding: 8rem;
}

.principal-logo {
  font-size: 6rem;
}

.principal-titulo {
  font-size: 3rem;
}

.principal-descricao {
  margin: 3rem 0;
}

.botao {
  font-size: 1.6rem;
  font-weight: 700;
  width: 100%;
  height: 6rem;
  cursor: pointer;
}

.botoes {
  display: flex;
  justify-content: space-between;
  gap: 4rem;
}

.card {
  background-color: #ffffff;
  /* largura maxima */
  max-width: 60rem;
  overflow: hidden;
}

.card-cabecalho {
  height: 25rem;
  background: linear-gradient(45deg, #1C3879, #2D4263, #191919);
  background-size: 200% 200%;
  animation: colors 15s ease infinite;
}

.card-titulo {
  font-size: 2.5rem;
  font-weight: 700;
}

.card-conteudo {
  color: #000000;
  padding: 3rem 1.5rem;
  min-height: 14rem;
}

.card,
.botao {
  border-radius: 0.8rem;
}

.blur {
  filter: blur(5px);
}